
$xl:1440px;
$lg:992px;
$md:820px;
$sm:576px;

.aboutus-banner{
    height:550px;
    background-image:url(../../imgs/hero.svg);
    background-size: cover;
    background-position: top center;
    margin-bottom: 50px;
    .containers {
        padding-left: 250px;
        padding-top: 100px;
        font-family: 'Ivy Journal', 'IvyJournal Regular', Arial;
        color: white;
        h1 {
            font-size: 60px;            
        }
        h2{
            font-family: "IvyJournal Regular", Arial, sans-serif; 
            font-weight: 300;
            font-size: 40px;
        }

    }

    @media screen and (max-width: $md) {
        height:361px;
        margin-bottom: 50px;

        .containers {
            padding-left: 76px;
            padding-top: 64px;
            
            h1 {
                font-size: 44px;            
            }
            h2{
                font-size: 28px;
                font-weight: normal;
            }            
        }
    }

    @media screen and (max-width: $sm) {
        height:266px;
        .containers {
            padding-left: 19px;
            padding-top: 48px;
            width: 376px;    
            h1 {
                font-size: 40px;            
            }
            h2 {
                font-size: 28px;
                font-weight: normal;
            }                         
        }
        margin-bottom: 50px;

    }
    
}

.display-none-large{
    @media (max-width: $md){
        display:none;
    }
   
}


.contact-section{
    margin-top: 150px;
    text-align: center;
    margin-bottom: 50px;

    h1{
        font: normal normal normal 40px/48px IvyJournal;
    }
}


.market-insights{

    h1{
        text-align: center;
    }


    

    @media screen and (min-device-width: 482px) and (max-width: $lg) {
        .homepage-text {
            margin:50px;
        }
        .homepage-header{
            padding-top:50px;
        }

    }

    @media screen and (max-width: $sm) {

        p{
            margin:15px;
        }
    
        .insight-text-box{
            padding-top: 35px;
        }
    
    }



    .interior{
        background-image:url(../../imgs/interior.jpg);
        background-size: cover;
        background-position: top center;
        height: 375px;
        box-shadow: 0px 3px 6px #0000000D;

    }

    padding-bottom: 80px;
    @media screen and (min-width: $lg) {
        .insight-text-box{
            width: 580px;
            height: 248px;
        }
        .interior{
            height: 660px;
        }
        .video{
            margin-top:45px;
        }
    }
    



    .insight-text{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    



}

.homepage-header{
    font: normal normal normal 40px/48px IvyJournal;
    color: #000000;
}
.homepage-text{
    font-size: 20px;
    color: #000000;
}


.award{
    height: 450px;
    background-color: #F8F8F8;
    text-align: center;
    padding-top: 50px;

    @media (min-width: $lg) {
        padding-top: 125px;
    }

    h1{
        font: normal normal normal 40px/48px IvyJournal;
    }
}

.awards-icon-1{
    width: 115px;
    height: 115px;
    background-image:url(../../imgs/awardsArtboard-1.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.awards-icon-3{
    width: 115px;
    height: 115px;
    background-image:url(../../imgs/awardsArtboard-3.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.awards-icon-4{
    width: 115px;
    height: 115px;
    background-image:url(../../imgs/awardsArtboard-4.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.awards-icon-5{
    width: 115px;
    height: 115px;
    background-image:url(../../imgs/awardsArtboard-5.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.awards-icon-6{
    width: 115px;
    height: 115px;
    background-image:url(../../imgs/awardsArtboard-6.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.awards-icon-2{
    width: 115px;
    height: 115px;
    background-image:url(../../imgs/awardsArtboard-2.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.get-in-touch{
    @media (max-width: $lg){
        display:none;
    }

    height: 450px;
    background-image:url(../../imgs/darkhome.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    button{
        background: #C12424 0% 0% no-repeat padding-box;
        border-radius: 8px;
        color: white;
        border: none;
        width: 264px;
        height: 58px;
    }

    h1{
        text-align: center;
        font: normal normal normal 40px/48px IvyJournal;
        color: white
    }
    
}

.get-in-touch-mobile{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 261px;
    margin-bottom:40px;
    button{
        background: #C12424 0% 0% no-repeat padding-box;
        border-radius: 8px;
        color: white;
        border: none;
        width: 264px;
        height: 58px;
        
    }



    h1{
        text-align: center;
        font: normal normal normal 40px/32px IvyJournal;
        letter-spacing: 0px;
        color: #000000;
    }
    h2{
        text-align: center;
        font-size: 22px;
        font-weight:300;
        color: #29282D;
    }


    @media (min-width: $lg){
        display:none;
    }

    background-color: #EAEAEA;


    @media(min-width: $md){
        width: 458px;


    }


}


.buyer-container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    
    h1{
        font: normal normal normal 40px/48px IvyJournal;
    }

    p{
        font-size:20px;
        color: black;
    }



    @media (max-width: $sm) {
          max-width: 540px;
          padding: 0 10px 0 10px;
          text-align: center
          
      }
    @media screen and (min-device-width: 482px) and (max-width: $lg) {

          max-width: 720px;
          padding: 0 10px 0 10px;
          text-align: center
        
    }
    @media (min-width: 992px) {
          max-width: 960px;
    }
      @media (min-width: 1200px) {
          max-width: 1420px;
    }
}

.buyer-image1{
    height:485px;
    width:710px;
    background-image:url(../../imgs/buyers-image1.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 100px;
}

.buyers-text-right{
    @media (min-width: 992px) {
        margin-top:50px;
        margin-left:50px;
  }

  @media (max-width: $lg) {
    text-align: center;
  }


}

.row-1{
    .buyer-house-icon{
        @media (min-width: 992px) {
            margin-left: 50px;
      }
        
    }
}

.buyer-house-icon {
    height:100px;
    width:100px;
    background-image:url(../../imgs/buyers-home.svg);
    background-size: cover;
    
    


    @media (max-width: $lg){
        margin-top: 40px;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        
    }
    
}
